#系统用户名admin，密码admin123
#spring.datasource.type=com.zaxxer.hikari.HikariDataSource
#spring.datasource.driver-class-name=com.mysql.jdbc.Driver
#spring.datasource.url=jdbc:mysql://localhost:3306/quant?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
#spring.datasource.username=fzk
#spring.datasource.password=fzk123

# MyBatis
mybatis:
  mapper-locations: classpath:/mapper/*.xml
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


server:
  port: 8081

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/quant?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
    username: fzk
    password: fzk123
      # 初始连接数
    initial-size: 4
      # 最小连接数
    min-idle: 4
      # 最大连接数
    max-active: 20
      # 获取连接超时时间
    max-wait: 5000
